$primary: #4910b1;
$primary-variant: #6200ee;
$secondary: #cecece;
$on-primary: #9e4bff;
$on-primary-variant: #fff;
$on-surface: #666;
$background: #f5f5f5;
$background-surface: #fff;
$background-hover: #e3d9e9;
$success: green;
$error: red;
$primary-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$surface-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);